<div class="admin-sidebar">
  <ul class="admin-sidebar-items">
    <li> <a href="{{ path('admin_article_list')  }}" class="admin-sidebar-item">Articles</a> </li>
    <li> <a href="{{ path('admin_category_list') }}" class="admin-sidebar-item">Categories</a> </li>
    <li> <a href="{{ path('admin_contributor_list') }}" class="admin-sidebar-item">Contributeur</a> </li>
    <li> <a href="{{ path('admin_user_list') }}" class="admin-sidebar-item">Utilisateur</a> </li>
    <li> <a href="{{ path('admin_project_list')}}" class="admin-sidebar-item">Project</a> </li>
    <li> <a href="{{ path('admin_send_news_letter') }}">Envoyer des newsletter</a> </li>
  </ul>
</div>
